.contentStyle {
        height: 160px;
        color: rgb(8, 0, 82);
        line-height: 160px;
        text-align: center;
        background: '#364d79';
}
.bckg {
        min-height: 100vh;
        background-image: url("https://i.ibb.co/D7THWLR/bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}